@charset "UTF-8";

body {
  background: linear-gradient(45deg, rgba(215, 166, 166, 0.87) 0%, #89eded 100%);
  color: #393535;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 10vh 1rem; }

p, li {
  text-align: justify; }

div {
  text-align: center;
}

/* Onglets */
#menu {
  text-align: center;
  font-size: 120%;
  margin: 15px; }

  /* Titres */
h1 {
  font-size: 160%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 15em;
  margin-right: 15em;
  text-align: center;
  padding: 15px;
  border-style: double;
  border-radius: 25px; }

h2 {
  font-size: 130%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 10px;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  border-style: solid;
  border-radius: 25px; }

h3 {
  font-size: 120%;
  margin: 2em;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  padding: 20px;
  border-style: solid;
  border-radius: 25px; }

h4 {
  font-size: 100%;
  margin: 1em;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  padding: 20px;
  border-style: solid;
  border-radius: 25px; }

/* Tableaux */
table, tr, th, td {
  border: 1px solid #393535;
  border-collapse: collapse;
  padding: 10px;
  text-align: center; }

th {
  font-weight: bold;
  border-style: double; }

table {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%; }

/* Images */
img {
  max-width: 60%;
  max-height: 60%;
  border-radius: 25px;
  margin-bottom: 5px;
  margin-top: 10px; }

/* Liens */
a {
  color: #393535;
  font-weight: bold; }
  a:focus, a:hover {
    font-weight: normal;
    font-style: italic; }

a + a {
  margin-left: 0.4em; }

/* Pied de page */
div#footer {
  padding: 5px;
  margin-top: 50px;
  border-radius: 25px;
  border-style: solid; }

p#footer {
  text-align: center;
  font-weight: bold; }
